<div class="row">

  <!-- /.col -->
  <div *ngFor="let user of pathway; let i = index" class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">{{userInfo[i].name}}</h3>
        <h5 class="widget-user-desc">{{user.userId}}</h5>
      </div>
      <div class="widget-user-image">
        <img class="img-circle" src="./assets/image/user.png" alt="User Avatar">
      </div>
      <div class="box-footer">
        <div class="row">
          <div *ngFor="let path of pathway[i].questPaths" class="col-sm-4 border-right">
            <div class="description-block path-text">
              <h5 class="description-header line">Quest ID: {{path["quest"].id}}</h5>
              <h5 class="description-text line">{{path["quest"].name}}</h5>
              <h5 class="description-text line"><span class="title">Completion: </span>{{path["mark"].completion}}</h5>
              <h5 class="description-text line"><span class="title">Mark: </span>{{path["mark"].mark}}</h5>
              <h5 class="description-text line"><span class="title">Submitted: </span>{{path["mark"].submitted}}</h5>
            </div>
            <!-- /.description-block -->
          </div>
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  
  <!-- /.col -->
</div>
